body {
  margin: 0px;
}

.header {
  background-image: url("images/header.jpeg");
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative
}

.header h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color: yellow;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: orangered;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 300px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: 250px;
}

div.desc {
  padding: 10px;
  text-align: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  /* 5px rounded corners */
}

/* Add rounded corners to the top left and the top right corner of the image */

.card img {
  border-radius: 5px 5px 0 0;
  width: 100px;
  height: 100px;
}

/* On mouse-over, add a deeper shadow */

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */

.container {
  padding: 2px 16px;
}

.container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.container1 {
  margin-top: 30px;
  border: 3px solid white;
  padding: 20px 40px 40px;
  max-width: 600px;
  box-shadow: 10px 10px 10px 10px grey;
}

.container1__image {
  width: 250px;
  height: 200px;
  object-fit: cover;
  margin: 30px 30px 30px 0;
  float: left;
}

.container1__text {
  display: inline;
}
